<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Data.Title}}</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
    </style>
    <link rel="stylesheet" href="../public/assets/css/project-detail.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  </head>
  <body>
    <section>
      <nav class="navbar navbar-expand-lg d-flex justify-content-between p-2 px-5 fixed-top shadow-sm">
        <div class="nav-left">
          <ul class="list-unstyled d-flex align-items-center gap-4">
            <li><img src="../public/assets/img/DW.png" width="50px" alt="" /></li>

            <li class="home"><a href="/home" class="text-decoration-none text-black fw-bold">Home</a></li>
            <li><a href="/addMyProject" class="text-decoration-none text-black">Add Project</a></li>
          </ul>
        </div>
        <div class="bg-black px-4 py-2 rounded">
          <a href="/contact" class="text-decoration-none text-white">Contact Me</a>
        </div>
      </nav>
    </section>

    <section>
      <div class="container d-flex flex-column gap-5" style="margin: 100px auto !important">
        <h1 class="text-center fw-bold">{{.ProjectDetail.Project_name}}</h1>
        <div class="row justify-content-between">
          <div class="col-8">
            <img class="w-100" src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGRldmVsb3BlcnxlbnwwfHwwfHw%3D&w=1000&q=80" alt="" />
          </div>

          <div class="col-3 d-flex flex-column flex-warp">
            <div class="d-flex flex-column gap-4">
              <p class="fw-semibold">Duration</p>
              <div class="d-flex flex-column gap-4">
                <div class="d-flex align-items-center gap-3">
                  <img width="40px" class="duration" src="https://cdn.pixabay.com/photo/2019/02/26/09/19/calender-4021509_640.png" alt="" />
                  <p>{{.ProjectDetail.Start_date.Format "02 Jan 2006"}} - {{.ProjectDetail.End_date.Format "02 Jan 2006"}}</p>
                </div>
                <div class="d-flex align-items-center gap-3 mb-5">
                  <img width="40px" class="" src="https://www.pngarts.com/files/10/Vector-Clock-PNG-Free-Download.png" alt="" />
                  <p>{{.ProjectDetail.Duration}}</p>
                </div>
              </div>
            </div>

            <div class="d-flex flex-column gap-4 flex-warp">
              <p class="fw-semibold">Technologies</p>
              <div class="d-flex gap-3" style="flex-wrap: wrap !important">
                {{range $index, $data := .ProjectDetail.Technologies}}
                <div class="d-flex align-items-center gap-3 w-50">
                  <img width="40px" src="../public/assets/img/{{$data}}.png" alt="" />
                  {{if eq $data "nodeJs"}}
                  <p>Node Js</p>
                  {{else if eq $data "reactJs"}}
                  <p>React Js</p>
                  {{else if eq $data "nextJs"}}
                  <p>Next Js</p>
                  {{else}}
                  <p>TypeScript</p>
                  {{end}}
                </div>
                {{end}}
              </div>
            </div>
          </div>
        </div>

        <div class="fs-6 lh-base" style="text-align: justify">
          <p>{{.ProjectDetail.Description}}</p>
        </div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
