* {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Poppins", sans-serif !important;
}

body {
  background-color: #e3e7eb !important;
}

nav {
  background-color: #f4f3f3;
  /* box-shadow: 0 0px 15px #525e75 !important; */
}

/* form {
  width: 40%;
  margin: 100px auto;
  padding: 20px;
}

form h1.title {
  text-align: center;
  padding-bottom: 50px;
  font-size: 40px;
}

form label {
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form input,
textarea,
select {
  resize: none;
  border: none;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 20px #b2b2b2;
}

button {
  background-color: black;
  color: white;
  padding: 5px 25px;
  border: none;
  border-radius: 10px;
}

form .button {
  display: flex;
  flex-direction: row-reverse;
}

button:active {
  background-color: white;
  color: black;
  padding: 5px 25px;
  border: 1px solid black;
  border-radius: 10px;
} */
