* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #dce0e4;
    font-family: 'Poppins', sans-serif;
}

.nav nav{
    display: flex;
    align-items: center;
}

.nav {
    background-color: #f4f3f3;
    padding: 10px;
    box-shadow: 0 0 30px #dbdbdb;
    padding-left: 5%;
    padding-right: 5%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav ul li {
    padding-right: 40px;
}

.nav ul li img {
    display: flex;
    width: 50px;
    align-items: center;
}

.nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.nav ul .home a {
    font-weight: bold;
}

.nav ul li a:active{
    font-weight: bold;
}

.nav , .nav-left {
    flex: 50%;
}

.nav .nav-right {
    flex: 50%;
    text-align: end;
}

.nav .nav-right a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 6px 20px;
    border-radius: 10px;
}

.nav .nav-right a:active {
    text-decoration: none;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 6px 20px;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    #container {
        flex-wrap: wrap;
    }

}

#container {
    width: 90%;
    margin: 100px auto;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 0 30px 30px #B2B2B2;
}

#left {
    flex: 60%;
    padding: 100px 50px;
}

#left .main  h1 {
    padding-bottom: 20px;
}

.main p {
    text-align: justify;
    line-height: 25px;
}

.main, .contact {
    margin-bottom: 50px;
}

.contact {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.contact .border {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 8px 30px;
    border-radius: 20px;
    margin-right: 30px;
}

.contact .border:active {
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 8px 30px;
    border-radius: 20px;
    margin-right: 30px;
    border: 1px solid black;
}

.contact p {
    font-size: 20px;
}

.contact a img {
    width: 25px;
    padding-left: 20px;
}

.sosmed a img {
    width: 45px;
    margin-right: 20px;
}

#right {
    flex: 40%;
    margin: auto 50px;
    text-align: center;
}

#right .profile {
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 30px #dbdbdb;
    overflow: hidden;
    padding-bottom: 20px;
}

#right .profile img {
    width: 100%;
    padding-bottom: 10px;
}

