* {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Poppins", sans-serif !important;
}

body {
  background-color: #e3e7eb !important;
}

nav {
  background-color: #f4f3f3;
}

/* .container-project-detail {

  width: 1280px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container-project-detail h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-detail-project {
  display: flex;
 
  gap: 50px;
  justify-content: space-between;
}

.header-detail-project .item-left {
  flex: 70%;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
}

.header-detail-project .item-left img {
  width: 100%;
}

.header-detail-project .item-right {
  flex: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-detail-project .item-right img.duration {
  width: 20px;
}

.header-detail-project .item-right .date {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.duration {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.title {
  font-weight: 700;
  font-size: 20px;
}

.technologies {
  margin-top: 50px;
}

.techno {
  display: flex;
  align-items: center;
  gap: 10px;
}

.techno img {
  width: 40px;
}

.techno img.nextJs {
  width: 35px;
}

p.left {
  margin-right: 50px;
}

.description-project {
  font-size: 14px;
  text-align: justify;
  line-height: 30px;
} */
